body {
  margin: auto;
  max-width: 1280px;
}

#header {
  display: flex;
  height: 10rem;
  background-image: url('.assets/image/background.jpg');
  background-size: cover;
}

#header > h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: auto;
  color: rgb(167, 0, 117);
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(61, 0, 41);
}

#enterprise-values {
  display: flex;
}

.info {
  width: 50%;
  padding: 1rem;
}

p {
  font-family: 'Open-Sans', sans-serif;
}