body {
  margin: 0px;
}

/* Globales */

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(61, 0, 41);
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
}

main {
  margin: 1rem;
}

/* Encabezado MISS VALE */

header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  color: white;
}

header > h1 {
  margin: 0.25rem;
}

header > span {
  font-family: cursive;
}

/* Sección de Visión/Misión/Valores */

.contenedor-compromiso {
  font-family: 'Open-Sans', sans-serif;
}

#compromisos-empresariales {
  display: flex;
  gap: 5rem;
}

footer {
  margin-top: 4rem;
  background-color: #ba2d65;
  color: white;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Responsibilidad */

@media only screen and (max-width: 600px) {
  #compromisos-empresariales {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
}